<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_temp :: header ('SUPPLIER INDEX')">
</head>
<body>

  <div class="container">
    <div class="page-header">
      <h1 th:inline="text">
        [[#{supplier.title}]]
        <small th:text="#{supplier.subtitle.index}">subtitle</small>
      </h1>
    </div>

    <div th:replace="_temp :: nav"></div>

    <div class="row">
      <div class="col-md-12">
        <form action="/supplier/create" th:action="@{/supplier/create}" method="get">
          <button class="btn btn-primary" type="submit">
            Create
          </button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <nav>
          <ul class="pagination">
            <li>
              <a href="/supplier/1" th:href="@{/supplier/} + (${currentPage} == 1 ? 1 : ${currentPage} - 1)" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li th:class="${i} == ${currentPage} ? 'active' : ''" th:each="i : ${#numbers.sequence(1, maxPage)}">
              <a href="/supplier/1" th:href="@{/supplier/} + ${i}" th:text="${i}">1</a>
            </li>
            <li>
              <a href="/supplier/999" th:href="@{/supplier/} + (${currentPage} == ${maxPage} ? ${maxPage} : ${currentPage} + 1)"  aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <table class="table table-striped table-bordered" th:if="${result}">
          <thead>
            <tr>
              <th>idx</th>
              <th th:text="#{supplier.NodeID}">NodeID</th>
              <th th:text="#{supplier.supplierID}">supplierID</th>
              <th th:text="#{supplier.companyName}">companyName</th>
              <th th:text="#{supplier.contactName}">contactName</th>
              <th th:text="#{supplier.contactTitle}">contactTitle</th>
              <th th:text="#{supplier.homePage}">homePage</th>
              <th th:text="#{supplier.country}">country</th>
              <th th:text="#{supplier.region}">region</th>
              <th th:text="#{supplier.city}">city</th>
              <th th:text="#{supplier.address}">address</th>
              <th th:text="#{supplier.postalCode}">postalCode</th>
              <th th:text="#{supplier.phone}">phone</th>
              <th th:text="#{supplier.fax}">fax</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="supplier, status : ${result}">
              <td th:text="${status.count}">1</td>
              <td>
                <a href="/supplier/detail/1" th:href="@{/supplier/detail} + '/' + ${supplier.id}" th:text="${supplier.id}">id</a>
              </td>
              <td th:text="${supplier.supplierID}">supplierID</td>
              <td th:text="${supplier.companyName}">companyName</td>
              <td th:text="${supplier.contactName}">contactName</td>
              <td th:text="${supplier.contactTitle}">contactTitle</td>
              <td th:text="${#helper.substring(supplier.homePage,20)}">homePage</td>
              <td th:text="${supplier.country}">country</td>
              <td th:text="${supplier.region}">region</td>
              <td th:text="${supplier.city}">city</td>
              <td th:text="${supplier.address}">address</td>
              <td th:text="${supplier.postalCode}">postalCode</td>
              <td th:text="${supplier.phone}">phone</td>
              <td th:text="${supplier.fax}">fax</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        total <span class="badge" th:text="${totalCount}">totalCount</span> currentPage <span class="badge" th:text="${currentPage}">currentPage</span> maxPage <span class="badge" th:text="${maxPage}">maxPage</span>
      </div>
    </div>

    <div th:replace="_temp :: footer"></div>
  </div>

  <div th:include="_temp :: script"></div>
</body>
</html>